body {
    background-color: #263238;
}
.google_re {
    place-content: center;
}
input.form-control {
    background-color: #222;
    border: 1px solid #424242;
    color: #fff;
}
input.form-control:focus {
    color: #ffffff;
    background-color: #424242;
}
.dropdown-menu {
    background-color: #37474F;
}
.dropdown-item {
    color: rgba(255, 255, 255, 0.75);
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #34444c;
    color: #fff;
}
.dropdown-divider{
    border-top: 1px solid #607D8B;
}
.dropleft {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.75);
}
.trumbowyg-box svg, .trumbowyg-modal svg {
    fill: #bdbdbd;
}
.trumbowyg-button-pane {
    background: #222222;
    border-bottom: 1px solid #222222;
}
.trumbowyg-box, .trumbowyg-editor {
    background: #222;
}

.ticket-reply {
    background-color: #424242;
    border-radius: .25rem;
    margin-bottom: 1rem;
    color: white;
}

.ticket-admin {
    background-color: #2b005e;
    border-radius: .25rem;
    margin-bottom: 1rem;
    color: white;
}

#open_filter, #closed_filter {
    color: white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #757575;
}
.nav-pills .nav-link {
    background: #424242;
    color: white;
}